.Imagw{
    width: 400px;
    height: auto;
}
.left {
    left: 0;
    margin-top: 0%;
  
  }

.right {
    right: 0;

  }
.positionn{
    position: absolute;
}
.bg-blue{
    background-color: #1d87ff;
}
 