.flip-boxt {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-box-innert {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-boxt:hover .flip-box-innert {
  transform: rotatex(180deg);
}

.flip-box-frontt,
.flip-box-backt {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-frontt {
  border: #1d87ff;
  border-radius: 10px;
  background-color: #1d87ff;
  padding-top: 7px;
  box-shadow:1px 1px 1px #b5b5b5;
  color: #ffffff;

}

.flip-box-backt {
  border: #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  padding-top: 9px;
  box-shadow:1px 1px 1px #c2c2c2;
  color: #1d87ff;
  transform: rotatex(180deg);
}
.flip-boxx {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-box-innerr {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-boxx:hover .flip-box-innerr {
  transform: rotatex(180deg);
}

.flip-box-frontt,
.flip-box-backk {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  border: #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  padding-top: 7px;
  box-shadow:1px 1px 1px #b5b5b5;
  color: #1d87ff;

}

.flip-box-backk {
  border: #1d87ff;
  border-radius: 10px;
  background-color: #1d87ff;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow:1px 1px 1px #c2c2c2;
  color: #1d87ff;
  transform: rotatex(180deg);
}