.custom-navbar {
    background-color: #ffffff;
    padding: 1rem 5rem;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    color: #000000 !important;
    font-size: 1.1rem;
    margin: 0 2rem;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #008cff !important;
}

@media (max-width: 768px) {
    .custom-navbar {
        padding: 1rem 2rem;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        margin: 0.5rem 0;
        font-size: 1rem;
    }
}